{% extends "base.html" %}

{% block title %}
Appointment Booking
{% endblock %}

{% block content %}
<h1>Book Appointment</h1>
<form action="{{ url_for('book_appointment') }}" method="POST">
    <label for="doctor">Select Doctor:</label>
    <select id="doctor" name="doctor">
        {% for doctor in doctors %}
        <option value="{{ doctor.id }}">{{ doctor.name }} ({{ doctor.specialty }})</option>
        {% endfor %}
    </select><br><br>
    <label for="name">Patient Name:</label>
    <input type="text" id="name" name="name" required><br><br>
    <label for="email">Patient Email:</label> <!-- Add this line -->
    <input type="email" id="email" name="email" required><br><br> <!-- Add this line -->
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required><br><br>
    <label for="time">Time:</label>
    <input type="time" id="time" name="time" required><br><br>
    <input type="submit" value="Book Appointment">
</form>
{% endblock %}